/* globals.css */
html, body {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url('/background1.JPG'); /* Path to your background image */
  background-size: cover ; /* Cover the entire page */
  background-attachment: fixed; /* Make background fixed during scroll */
  background-position: center; /* Center the background image */
  height: 100vh;/* Ensure full height */
  
}

/* main {
  padding: 15px 0 15px 0;w
  display: flexbox;
  
}

.hero {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flexbox;
} */





