/* Contacts.module.css */

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* This will center the content vertically */
  background-color: rgba(0, 0, 0, 0.705);
  width: 100%;
  padding: 50px 0; /* Add some padding at the top and bottom */
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  width: 90%; /* Max width of the content */
  font-size: 1.9rem; /* Adjust font size for better readability */
  color: white;
  gap: 20px; /* Adjust the gap between items */
}

.contactContent h2 {
  font-size: 2.5rem; /* Adjusted font size */
  margin: 20px auto 20px; /* Adjusted margin */
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Center these items if .info is a column */
  gap: 20px; /* Adjust the gap between info items */
  margin-top: 20px; /* Adjusted margin */
  width: 100%;
}

.address {
  white-space: nowrap;
  gap: 20px;
  text-align: center; /* Center address text */
}

.contactInfo {
  text-align: center; /* Center contact info */
}

.socials {
  display: inline-block;
  margin: 0 10px; /* Adjust margin for spacing */
}

.estimateBtn, .estimateBtn a {
  margin-top: 30px; /* Adjusted margin */
  padding: 15px 25px; /* Adjusted padding */
  font-weight: bold;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Remove underline from link */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.estimateBtn:hover, .estimateBtn a:hover {
  background-color: darkgoldenrod;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50px;
}

.copyright {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .contactContent {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }

  .contactContent h2 {
    font-size: 2rem; /* Smaller font size for mobile */
  }

  .info {
    gap: 15px; /* Adjust gap for mobile */
    margin-top: 15px; /* Adjust margin for mobile */
  }

  .estimateBtn, .estimateBtn a {
    padding: 10px 20px; /* Smaller padding for mobile */
    font-size: 1rem; /* Adjusted font size */
  }
}

@media (max-width: 480px) {
  .contactContent {
    font-size: 1rem; /* Smaller font size for mobile */
  }

  .contactContent h2 {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

  .info {
    gap: 10px; /* Adjust gap for mobile */
    margin-top: 10px; /* Adjust margin for mobile */
    flex-direction: column;
  }

  .estimateBtn, .estimateBtn a {
    padding: 12px 20px; /* Smaller padding for mobile */
    font-size: 0.875rem; /* Adjusted font size */
  }
}


  