 
/* Gallery.module.css */

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.705);
  padding: 80px 0;
}

.ourWork {
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  color: white;
}

.embla {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 70%; /* Adjust based on wireframe */
  margin: 0 auto;
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 50%; /* Adjust based on your design, use percentage to control size */
}

.embla__image {
  width: auto;
  height: 450px; /* Maintain aspect ratio */
  max-width: 100%;
  object-fit: cover; /* Cover the slide area without stretching */
  border: 5px solid black;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
}

.customArrow {
  padding: 8px 10px;
  font-size: 18px;
  background-color: rgba(10, 10, 10, 0.705);
  color: #fff;
  width: 20px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.seeMore, .seeMore a {
    background-color: gold; /* Sets the button background to gold */
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
    color: #000; /* Sets the button text color to contrast, e.g., black */
    border: none; /* Removes any default border */
    padding: 15px 30px; /* Adjust padding as needed */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-decoration: none;
}

.seeMore:hover  {
  background-color: darkgoldenrod;
  color: darkgoldenrod;
}

/* Gallery.module.css media queries */
@media (max-width: 768px) {
  .ourWork {
    font-size: 2rem; /* Smaller font size for mobile */
  }

  .embla {
    max-width: 100%; /* Full width for smaller screens */
  }

  .buttonsContainer {
    bottom: 10px; /* Adjusted bottom position */
  }

  .customArrow {
    width: 25px; /* Adjusted width */
    height: 25px; /* Adjusted height */
  }
}

@media (max-width: 480px) {
  .ourWork {
    font-size: 2rem; /* Even smaller font size for mobile */
  }

  .container {
    padding: 50px 0;
  }

  .embla {
    max-width: 100%; /* Full width for smaller screens */
  }

  .embla__slide {
    position: relative;
    flex: 0 0 70%; /* Adjust based on your design, use percentage to control size */
  }

  .buttonsContainer {
    bottom: 5px; /* Adjusted bottom position */
  }

  .customArrow {
    width: 20px; /* Adjusted width */
    height: 20px; /* Adjusted height */
  }

  .seeMore {
    margin-top: 20px;
  }
}