/* Services.module.css */

.services {
  height: auto;
  color: white; /* Default text color */
  padding: 50px 20px; /* Adjust spacing around the content */
  margin: 100px 20px; /* Adjusted margin to prevent overflow on smaller screens */
}

.servicesContent {
  background-color: rgba(0, 0, 0, 0.705); /* Semi-transparent background */
  width: 80%;
  max-width: 1500px; /* Adjust based on your design */
  margin: auto; /* Center the content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  border-radius: 10px;
  height: auto;
  justify-content: center;
  background-position: center;
  padding: 50px;
}

.header {
  font-size: 2rem; /* Adjusted font size */
  margin: 2rem;
  color: white; /* Main header color */
  margin-bottom: 20px; /* Spacing between header and subheader */
}

.subHeader {
  font-size: 1.5rem; /* Adjusted font size */
  color: gold; /* Subheader color */
  margin-bottom: 50px; /* Adjusted spacing between subheader and paragraphs */
}

.articles {
  display: flex;
  flex-direction: column; /* Stack articles vertically */
  justify-content: space-between; /* Space between paragraphs */
  width: 100%; /* Ensure paragraphs fill the container */
  padding-left: 20px;
  font-size: 1.4rem; /* Adjusted font size */
}

.article {
  margin-bottom: 20px; /* Add margin between articles */
  color: white; /* Paragraph text color */
}

.servicesButtonContainer {
  margin-top: 30px; /* Adjusted margin */
}

.servicesButton, .servicesButton a {
  background-color: gold; /* Sets the button background to gold */
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  color: #000; /* Sets the button text color to contrast, e.g., black */
  border: none; /* Removes any default border */
  padding: 15px 30px; /* Adjust padding as needed */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  text-decoration: none;
}

.servicesButton:hover {
  background-color: darkgoldenrod; /* Darker gold color on hover for better interaction feedback */
}

@media (max-width: 768px) {
  .services {
    padding: 0 20px; /* Adjust padding for smaller screens */
    margin: 20px 0; /* Adjust margin for smaller screens */
  }

  .servicesContent {
    width: fit-content;
    padding: 20px;
  }

  .header {
    font-size: 2rem; /* Smaller font size for mobile */
    margin: 0 auto;
  }

  .subHeader {
    font-size: 1.5rem; /* Smaller font size for mobile */
    text-align: center;
    margin: 0 auto 30px; /* Adjusted spacing for mobile */
  }

  .articles {
    font-size: 1rem; /* Adjust font size for readability */
    flex-direction: column; /* Stack articles vertically */
    padding: 0;
  }

  .servicesButton, .servicesButton a {
    font-size: 1rem; /* Smaller button font size */
    padding: 10px 20px; /* Adjust button padding */
  }
}
