/* Services.module.css */
.services {
    height: auto;
    color: white; /* Default text color */
    padding: 50px 20px; /* Adjust spacing around the content */
    margin: 200px 200px 300px;
  }
  
  .servicesContent {
    background-color: rgba(0, 0, 0, 0.705); /* Semi-transparent background */
    max-width: 1300px; /* Adjust based on your design */
    margin: auto; /* Center the content */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    border-radius: 10px;
    height: auto;
    justify-content: center;
    background-position: center;
  }
  
  .header {
    font-size: 35px;
    color: white; /* Main header color */
    margin-bottom: 20px; /* Spacing between header and subheader */
  }
  
  .subHeader {
    font-size: 30px;
    color: gold; /* Subheader color */
    margin-bottom: 100px; /* Spacing between subheader and paragraphs */
  }
  
  .articles {
    display: flex;
    justify-content: space-between; /* Space between paragraphs */
    width: 90%; /* Ensure paragraphs fill the container */
    padding-left: 20px;
    font-size: 28px;
  }
  
  .article {
    flex-basis: 48%; /* Each paragraph takes almost half the width, adjust as needed */
    color: white; /* Paragraph text color */
  }
  .servicesButtonContainer {
    margin-top: 60px;
  }

  .servicesButton {
    background-color: gold; /* Sets the button background to gold */
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
    color: #000; /* Sets the button text color to contrast, e.g., black */
    border: none; /* Removes any default border */
    padding: 15px 30px; /* Adjust padding as needed */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

  .servicesButton:hover {
    background-color: darkgoldenrod; /* Darker gold color on hover for better interaction feedback */
  }
  
  @media (max-width: 768px) {
    .articles {
      flex-direction: column; /* Stack paragraphs vertically */
    }
  
    .article {
      flex-basis: 100%; /* Each paragraph takes full width */
      margin-bottom: 20px; /* Add space between stacked paragraphs */
    }
  }
  